@using Microsoft.AspNetCore.Components.Routing

@inherits LayoutComponentBase

@inject NavigationManager Url

<Layout Style="min-height: 100vh; ">
    <Sider Collapsible Collapsed=@collapsed OnCollapse=@OnCollapse>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1">
                <Icon Type="pie-chart" Theme="outline" />
                <span>Option 1</span>
            </MenuItem>
            <MenuItem Key="2">
                <Icon Type="desktop" Theme="outline" />
                <span>Option 2</span>
            </MenuItem>
            @{
                RenderFragment sub1Title =
                @<span>
                    <Icon Type="user" Theme="outline" />
                    <span>User</span>
                </span>;
            }
            <SubMenu Key="sub1" TitleTemplate=sub1Title>
                <MenuItem Key="3">Tom</MenuItem>
                <MenuItem Key="4">Bill</MenuItem>
                <MenuItem Key="5">Alex</MenuItem>
            </SubMenu>
            @{
                RenderFragment sub2Title =
                @<span>
                    <Icon Type="team" Theme="outline" />
                    <span>Team</span>
                </span>;
            }
            <SubMenu Key="sub2" TitleTemplate=sub2Title>
                <MenuItem Key="6">Team 1</MenuItem>
                <MenuItem Key="8">Team 2</MenuItem>
            </SubMenu>
            <MenuItem Key="9">
                <Icon Type="file" Theme="outline" />
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-header"></Header>
        <Content>
            <div class="site-content">
                @Body
            </div>
        </Content>
        <Footer>E-Book Library ©2021 Created by <a href="https://github.com/riwexoyd/BookLibrary">Riwexoyd</a></Footer>
    </Layout>
</Layout>


@code {
    bool collapsed = false;

    void OnCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }
}