@inherits LayoutComponentBase

@inject NavigationManager Url
@inject IJSRuntime jsRuntime

<Layout>
    <Sider Collapsible Collapsed=@collapsed OnCollapse=@OnCollapse Theme="SiderTheme.Light">
        <div class="logo">
            <h3>Library</h3>
        </div>
        <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1" RouterLink="@Url.ToAbsoluteUri("/").AbsoluteUri">
                <Icon Type="home" Theme="outline" />
                <span>Home</span>
            </MenuItem>
            <MenuItem Key="2" RouterLink="@Url.ToAbsoluteUri("/groups/list").AbsoluteUri">
                <Icon Type="branches" Theme="outline" />
                <span>Groups</span>
            </MenuItem>
                <AuthorizeView>
                    <Authorized>
                        @{
                            RenderFragment sub1Title =
                            @<span>
                                <Icon Type="user" Theme="outline" />
                                <span>User</span>
                            </span>;
                        }
                        <SubMenu Key="sub1" TitleTemplate=sub1Title>
                            <MenuItem Key="3" OnClick="OnLogOut">Log out</MenuItem>
                        </SubMenu>
                    </Authorized>
                    <NotAuthorized>
                        <MenuItem Key="3" RouterLink="@Url.ToAbsoluteUri("/Identity/Account/Login").AbsoluteUri">
                            <Icon Type="login" Theme="outline" />
                            <span>Login</span>
                        </MenuItem>
                    </NotAuthorized>
                </AuthorizeView>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-header">
            <Button Icon="github" Size="large" Type="link" OnClick="OnGitHubClick" />
        </Header>
        <Content>
            <div class="site-content">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>


@code {
    bool collapsed = false;

    void OnCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }

    async Task OnGitHubClick()
    {
        await jsRuntime.InvokeAsync<object>("open", "https://github.com/riwexoyd/BookLibrary", "_blank");
    }

    void OnLogOut()
    {
        Url.NavigateTo("Identity/Account/Logout", true);
    }
}