@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<MatButton @onclick="IncrementCount">Test</MatButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}