@using BookLibrary.Data.Models; 

@page "/CreateAuthor"

<EditForm Model="authorModel" OnValidSubmit="Success">
    <DataAnnotationsValidator />
    <p>
        <MatTextField Label="First Name" @bind-Value="authorModel.FirstName" />
    </p>
    <p>
        <MatTextField Label="Last Name" @bind-Value="authorModel.LastName" />
    </p>

    <MatButton Type="submit" Raised="true">Create</MatButton>
</EditForm>

@code {
    AuthorModel authorModel = new AuthorModel();

    private async Task Success(EditContext editContext)
    {

    }
}
